
<h1>Hi this is the show page of the dahsboard</h1>

<div class= "container">

</div class= "bookings">
</div>
<div>

<% @horses.each do |horse| %>

<div class="card" style="width: 18rem;">
  <%#= cl_image_tag horse.image, height: 300, crop: :fill, class="card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= horse.name %></h5>
    <p class="card-text">
      <%= horse.location %>
      <br>
      <%= horse.price %>
      <br>
      <%= horse.description %>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<% end %>

