
<div class="container">
  <h3 class="header-dashboard">Your listings</h3>
  <div class="listings">
    <% @horses.each do |horse| %>
      <div class="card-listing">
        <%= cl_image_tag horse.image, crop: :fill %>
        <div class="card-listing-infos">
            <h2><strong><%= horse.name %></strong></h2>
              <p>Sun 29 May - Mon 31 May 2021</p>
              <p>Rider name</p>
        </div>
      </div>
    <% end %>
  </div>

  <h3 class="header-dashboard">Your bookings</h3>
  <div class="bookings">
    <% @horses.each do |horse| %>
      <div class="card-listing">
        <%= cl_image_tag horse.image, crop: :fill %>
        <div class="card-listing-infos">
            <h2><strong><%= horse.name %></strong></h2>
              <p>Sun 29 May - Mon 31 May 2021</p>
              <p>299£</p>
        </div>
      </div>
    <% end %>
  </div>
</div>



