.booking-confirmed{
  color: orange;
}

.booking-info{
  padding-top: 6px;
}
.booking-message p{
  font-size: 25px;
  text-align: center;
  margin: 0px;
}
.booking-message{
  background: white;
  border-radius: 4px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 10px;
}
.text-center{
  color: #999999;
  padding-bottom: 5px;
}
