<div class="simpleform">
  <div class=" wrapper-container container p-5">
    <div class="wrapper-form p-3 mt-5" style="width: 400px;">
      <h3>Get started</h3>
      <%= form_tag horses_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control mb-3",
        placeholder: "Enter location"
        %>
        <div class="d-flex flex-row-reverse">
          <%= submit_tag "Search", class: "btn btn-primary" %>
          <%#=link_to 'Search', horses_path, class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

