<div class=" wrapper-container">
<div class="simpleform">
    <div class="width: 400px; background: transparent; position: absolute; left: 5; margin-top: 80px;"">
      <h2 class="mb-4" style="color: white; text-shadow: 1px 1px #9F9F92;">Get started and rent a horse in a unique setting today.</h2>
      <%= form_tag horses_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control mb-3",
        placeholder: "Enter location"
        %>
        <div class="d-flex flex-row-reverse">
          <%= submit_tag "Search", class: "btn btn-primary" %>
          <%#=link_to 'Search', horses_path, class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

