<div class="wrapper-container">
  <div class="simpleform">
    <div class="" style="width: 500px; background: transparent; position: absolute; left: 5; margin-top: 80px;">
      <h1 class="mb-4" style="color: white; text-shadow: 1px 1px #9F9F92;">Get started and rent a horse in a unique setting today.</h1>
      <%= form_tag horses_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control mb-3",
        placeholder: "Enter location"
        %>
        <div class="d-flex flex-row-reverse">
          <button name="button" type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i> Search
          </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
