<div class="background-edit">
<div class="container edit-horse">
    <div class="card card-edit p-3" style=" width: 400px;">
      <h3> Edit information about your horse</h3>
      <%= render 'form', horse: @horse %>
    </div>
</div>
</div>
