<div class="background-edit">
<div class="container edit-horse">
    <div class="wrapper-form p-3 mt-5" style="width: 400px;">
      <h3>Edit your horse</h3>
      <%= render 'form', horse: @horse %>
    </div>
</div>
</div>


