<div class="wrapper" style="background-image: url(<%= image_path 'horsebetter.jpg' %>)">
  <div class=" wrapper-container container p-5">
    <div class="card p-3" style=" width: 400px;">
      <h3> Earn money from your <strong>stallion</strong> </h3>
      <%= render 'form', horse: @horse %>
    </div>
  </div>
</div>

