<div class="wrapper">
  <div class="container p-5">
    <div class="card p-3" style=" width: 400px;">
      <h3> A slogan about horses and becoming an owner</h3>
      <%= render 'form', horse: @horse %>
    </div>
  </div>
</div>

