<div class="wrapper" style="background-image: url(<%= image_path 'horsebetter.jpg' %>)">
  <div class=" wrapper-container container p-5">
    <div class="wrapper-form p-3 ml-4" style=" width: 400px;">
      <h3 class="pb-3">Ready to earn money?</h3>
      <%= render 'form', horse: @horse %>
    </div>
  </div>
</div>

