
<div class="wrapper wrapper-search" style="background-image: url(<%= image_path 'horsebetter.jpg' %>)">
  <div class="searchforn p-3 ml-4">
    <%= render 'searchform', horses: @horses%>
  </div>
</div>
