.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}


.book {
  background-color: #EE6055;
  color: white;
  width: 100px;
}

.card-button {
  display: flex;
  justify-content: space-around;
  color: white;
}

.show-buttons {
  display: flex;
  justify-content: left;
  // margin-top: 5px;
}

.btn-book {
  background-color: #EE6055;
  color: white;
  width: 100px;
}

.btn-delete{
  margin: 5px;
  background-color: #EE6055;
  color: white;
  width: 200px;
}
