body {
  background-color: white;
}

.cards-container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  // flex-grow: 1;
  padding: 0 4px
}

.card {
  height: 200px;
  background-color: white;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin: 6px;
  padding: 8px 8px 0px 8px;
  img {
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
  }
}

#search-message {
  margin: 2px 0 2px 12px;
  text: light;
}


.card-details {
  display: flex;
  justify-content: space-between;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.search-card {
  height: 200px;
  background-color: #F8F8F8;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 3px;
}

// @media (max-width: 1100px) {
//   #map {
//     width: 0;
//   }
// }
