// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "show";
@import "button";
@import "wrapper";
@import "simpleform";
@import "horse-card";
@import "devise";
@import "flash";
@import "footer";

.row {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-gap: 4px;
}

.card-container {
  h1 {
    color: #EE6055;
    text-shadow: 4px;
  }
}
