.content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin: 40px;

  .infos {
    // flex-grow: 1;
    width: 60%;
    margin-right: 20px;
  }

  .location {
    // width: 60%;
    flex-grow: 1;
    margin-top: 24px;
    // align-items: center;
  }

  // .location-title {
  //   text-align: center;
  // }

  .map {
    object-fit: cover;
    width: 520px;
    // margin-bottom: 5px;
  }
}

.horse-photo {
  img {
  object-fit: cover;
  height: 400px;
  }
}

p {
  font-size: 20px;
}

.info-perso {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
