.container{
  margin: 40px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .infos {
    flex-grow: 1;
    margin-right: 10px;
  }

  .location {
    width: 60%;
    margin-bottom: 5px;
    text-align: center;
  }

  .map {
    object-fit: cover;
    height: 400px;
  }
}

.horse-photo {
  object-fit: cover;
  height: 400px;
}

p {
  font-size: 20px;
}

.info-perso {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
