.simpleform {
  .btn {
    background-color: #EE6055;
    border-color: #EE6055;
    color: white;
    position: right;
  }
}

.formlabel {
  color: gray;
}

.form-actions {
  .btn {
    background-color: #EE6055;
    border-color: #EE6055;
    color: white;
    position: right;
  }
}
