.wrapper{
  background-size: cover;
}

.wrapper-form {
  background-color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.wrapper-container {
  margin: 0px;
}

.devise-wrapper {
  background-size: cover;
  padding: 60px 0px;
  background-position: top;
  min-height: 100vh;
  // background-image: url('https://carwad.net/sites/default/files/mustang-horse-111619-9557907.jpg');
}

.wrapper-search{
  background-size: cover;
  background-position: top;
  min-height: 100vh;

}

