.wrapper{
  background-size: cover;
}

.wrapper-container {
  margin: 0px;
}

.devise-wrapper {
  background-size: cover;
  background-image: url('https://carwad.net/sites/default/files/mustang-horse-111619-9557907.jpg');
}

.wrapper-search{
  background-size: cover;
}
