.wrapper{
  background-size: cover;
}

.wrapper-form {
  background-color: white;
}

.wrapper-container {
  margin: 0px;
}

.devise-wrapper {
  background-size: cover;
  padding: 60px 0px;
  background-position: top;
  min-height: 100vh;
  // background-image: url('https://carwad.net/sites/default/files/mustang-horse-111619-9557907.jpg');
}

.wrapper-search{
  background-size: cover;
  background-position: top;
  min-height: 100vh;

}

