.listings {
  margin-bottom: 30px;
}

.card-listing {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 8px;
  margin-bottom: 24px;
}

.card-listing img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  margin-left: 0;
}

.header-dashboard {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-listing-infos p {
  line-height: 1.4;
  margin-bottom: 5px;
}

.card-listing-infos {
  padding: 20px;
  padding-left: 30px;
}


.card-listing h2 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}




